.blog-post-gallery{
    width:98%;
    margin:auto;
    padding:40px 0;
    display: flex;
    /* display: grid; */
   /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 20px;
    border-bottom: 1px solid #D7D7D7;
}
.blog-post-column{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.blog-post{
    width:100%;
    height:100%;
    border-radius:5px;
    object-fit:cover;

}

.blog-post-content{
    display:flex;
    flex-direction: column;
    gap:1.5rem;
    width:25rem;
}
.blog-post button{
    background-color: transparent;
    padding:.5rem;
    width:30%;
    margin-bottom:2rem;
}
.blog-post p:nth-child(1){
    color:#707070;
    display:flex;
    justify-content: space-between;

}
.more{
    align-self: center;
    background-color: transparent;
    padding: 1rem;
    width: 15%;
    margin-bottom: 2rem;
    margin-top:3rem;
    border-color:#202020;

    
}
.container{
    display:flex;
    flex-direction: column;
}

@media(max-width:1360px){
    .blog-post-gallery{
       /* flex-wrap: wrap; */
    }
    .blog-post-column:nth-child(3){
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr; */
        /* background-color: red; */
        /* flex-direction: row; */
    }

}