* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: ;
}
.top-link {
    margin: 1% 1%;

}

.top-link a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.438);
}
.test-container{
    display:flex;
    flex-direction:column;
   /* gap:10px; */
   min-height: 100vh;
   margin:2%;


}
.cartlist-title{
    margin:1% 4%;
    background-color:;
    
}


.cartlist-table {
    border-collapse: collapse;
  }
/* .cartlist-table-title
{
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid black;
} */


.row{
   
   display: flex;
   align-items: center;
gap: 30px;
   width: 100%;
}
.cartlist-image{
    width: 44%;
    /* height: 10 rem; */
    padding: 10px;

}
.cartlist-name{
    width: 100%
    /* height: 10 rem; */
    /* padding: 10px; */

}
.price-container, .total-container{
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center
}

.btn-row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-btn-row
{
    display: flex;
    gap: 20px;
}
.checkout{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
        color: white;
        padding: 1.8% 6%;
       width: 300px ;
       height: 7%;
      align-items: center;
      border: none;
        /* margin-top: 2%; */
}
.clearbtn , .updatebtn{
  
 
    padding: 1.8% 6%;
    width: 100px;
}
.cart_remove{
    background-color: transparent;
    border: 1px solid black;
    width: 24px;
    /* height: 25px; */
    height: fit-content;
    border-radius: 100%;
   
    align-items: center;
    padding: 3px;
    transition: 0.3s;
}

.cart_remove:hover{
    background-color: black;
    color: white;
}


tr:nth-of-type(1){
    border-top:.5px solid black;
    border-bottom: .5px solid black;
    padding-top: 1%;
    padding-bottom: 1%;

}

.clearbtn{
    background-color: white;
    margin: 2%;
}
.updatebtn{
    background-color: ;
    border:none;
    margin: 2%;
}
 /* th td tr{
    align-items: center;
    text-align: center;
} */

.cartlist-table .input-container
{
    display: flex;
    justify-content: center;
    
}


.cartlist-table input {
   display: flex;
   width:30%;
    height: 2rem;
    align-self: center;
    padding-left: 7%;
    padding-right: 7%;
}


