body{
    background-color: white;
}
.form-container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin:2rem 3rem;
}

form{
    display:flex;
    flex-direction: column;
    /* gap:10px; */
}
form span{
    color:red;
}
form input{
    width:75%;
    height:2rem;
    margin-bottom: 1.5rem;
}
form button{
    /* background-color: black;
    color:white;
    padding: 10px 80px;
 
    /* align-items: center; */
    border: none;
    cursor: pointer;
    transition: 0.2s; 

    width:10rem;
    background-color: black;
    color:white;
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 2.5rem;

}

form button:hover{
    background-color: white;
    color: black;
    border: .5px solid black;
}