.category-content
{
    display: none;
}

.category-dropdown:hover .category-content
{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    align-items: center;
    position: absolute;
    z-index: 99;
    right: 25%;
    width: 100px;
    box-shadow: #000;
    border: 0.5px solid black;
}

.category-content a{
    padding: 5px;
}
.category-content a:hover{
    color: red;
}

.right{
    display:flex;
    justify-content: center;
}

.shop-slider
{
    margin: 2% 0;
}

.slide-container {
    max-width: max-content;
    width: 100%;
}

.slider-wrapper {
    position: relative;
   
}

.slick-prev , .slick-next {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    width: 2rem;
    height: 2rem;
    color: #FFFFFF;
    background-color: #EE1C47;
    font-size: 18px;
    border-radius:100%;
    z-index: 5;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  
    transform: translateY(-50%);
}



.slick-prev  {
    left: 30px;
    
}

 .slick-next {
    right: 5px;
}

.slider-wrapper .image-list {
    display: flex;

    gap: 18px;
    font-size: 0;
    list-style: none;
    overflow-x: auto;
    scrollbar-width: none;
    
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 342px;
    height: 446px;
    flex-shrink: 0;
    object-fit: cover;
    margin :0 10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none !important;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }
}

.shop{
   
    margin-top:1rem;
    margin-left:2rem;
    margin-right:2rem;
}
.link-connect span{
    opacity: .6;
    margin-right: 1.5rem;
}
.link-connect span:last-child{
    opacity:1;
}

.title{
    margin-top:1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.shop-nav
{
    display:flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    color: #202020;
}
.filter{
    /* display: flex;
    gap:2rem; */
    width: 600px;
}
.shop-nav a{
    color:#202020;
    text-decoration: none;
}
.shop-nav .selected{
    border:1px solid black;
    padding: 0 .2rem;
}

.shop-card-container {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:1%;
    /* grid-template-columns: repeat(auto-fit, minmax(320px, auto)); */
    align-items: center;
    margin-bottom: 10rem;
}
.shop-card-content{
   display:flex;
   flex-direction: column;
   align-items: center;
}
.mute-text{
    color:#BDBDBD;
}

.shop-card-image {
    /* width:100%; */
    position:relative;
    /* background-color:green ; */
}
.upperSpan
{
    position:absolute;
    color:white;
    width:4rem;
    text-align: center;
    right:5%;
    top:2%;
    z-index: 10;
}
.lowerSpan {
    position: absolute;
    color: white;
    width:4rem;
    text-align:center;
    right: 1rem;
    top: 2.5rem;
}
.hot{
    background-color: #F7941D;
}
.minus{
    background-color: #9E0B0F;
}
.loadMore{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    margin-bottom: 10rem;
}
.loadMore a{
    text-decoration: none;
    color:#000;
    border:1px solid black;
    padding-top:.5rem;
    padding-bottom: .5rem;
    padding-left:2rem;
    padding-right:2rem;
}

 .shop-card {
     display: flex;
     flex-direction: column;
     align-items: center;
 }


 /* //paginate */

 .pagination {
    margin-top: 20px;
    display: flex;
    /* flex-direction: column; */
    gap: 30px;
    justify-content: center;
    margin-bottom: 1.3rem;
}

.pagination > .page-item > .page-link {
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
}

.pagination > .page-item > .page-link:hover {
    background-color: #f5f5f5;
}

.pagination > .page-item.active > .page-link {
    z-index: 1;
    color: #fff;
    background-color: red;
    border-color: black;
}
.filter-form, .search-form
{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 30px;
    /* align-items: center; */
}

.filter-form button , .search-form button { 
    width: 100px;
    height: 25px;
}
.search-form input
{
    width: 200px;
    height: 25px;
}
.filter-form select
{
    padding: 3px;
}

.filter
{
    width: auto;
}

/* responsive */

@media (max-width:2048px){
    .shop-card-container{
        grid-template-columns: repeat(auto-fit, minmax(280px, auto));
        margin:auto;
    }
    .shop-card-image img{
       width:250px;
        
    }
   
 
   
}

@media (max-width:1024px)
{
   .shop-nav{
       flex-direction: column;
   }

   .search-form , .filter-form {
       justify-content: start;
   }

   .filter-form
   {
       flex-direction: column;
   }

   /* .filter-form{
    justify-content: end;
   } */
}
@media(max-width:830px){
    .shop-card{
        flex-direction: row;
        justify-content: center;
        gap:2rem;
    }
    .shop-card-container{
        grid-template-columns: 1fr 1fr;
      
    }
    .shop-card-image img {
             width: 150px;
             height: 170px;
    
    }
        .shop {
            display: flex;
            flex-direction: column;
        }
}

@media(max-width:550px){
    .shop-card{
        flex-direction: row;
        justify-content: center;
        gap:2rem;
        margin-bottom: 30px;
    }
    .shop-card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
    .shop-card-image img {
             width: 100px;
             height: 100px;
    
    }
        .shop {
            display: flex;
            flex-direction: column;
        }
}