.add-category-wrapper
{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    height: 90%;
    background-color: rgb(46,46,72);
    border-radius: 10px;
}

.add-category-container
{
    padding: 2rem 5rem 2rem 5rem;
}
.add-category-form
{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.add-category-form.row
{
   
   
    width: 80%;
    margin-bottom: 1rem;
}





.drop-box-container
{
    display: flex;
}


.input-field
{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.btn-field
{
    margin-top: 1rem;
    display: flex;
    justify-content: left;
}

.btn-field button{
    padding: 15px 50px 15px 50px;
    
}