.dashboard-page
{
    /* background-color: rgb(46,46,72); */
    border-radius: 10px;
    height: 100%;
   
}





.stats-view
{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    margin-bottom: 1rem;
}

.dashboardrow.one 
{
    /* grid-template-columns: 70% 1fr; */
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    gap: 20px;
  
    /* flex-direction: column; */
   

}
.dashboardrow .box
{
    width: 398px;
}

.box
{
    /* width: 340px; */
    height: 110px;
    background-color: rgb(46,46,72);
    /* margin-right: 20px; */
    display: flex;
    margin-bottom: 1rem;
   
}

.box .content
{
    color: rgb(229, 225, 225);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    
}

.bar-chart
{
    width: 100%;
    background-color: rgb(46,46,72);
    margin-right: 20px;
}
.pie-chart
{
    width: 93%;
    background-color: rgb(46,46,72);
   height:350px;
}