/******* RESET ******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%;
	font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul , li{
	list-style: none;
	/* margin: 8px 0; */
	width: 100%;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******* END RESET ******/

/******* FONTS AND OTHERS ******/
*
{
	font-family: Montserrat	;
}

button
{
	cursor: pointer;
}

tr,th,td {
	width: 80px;
    padding: 10px;
    font-size: small;
	color: white;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
}
th
{
    background-color: #383856;
    color: white;
    padding: 8px;
    vertical-align: middle;
    
}



a{
    text-decoration: none;
    
}

select
{
	background-color: #383856;
	padding: 5px;
	margin-top: 7px;
}

input , select , option , textarea
{
	color: white;
	background-color: #383856;
}


/* adminLayout */


.main-page-wrapper
{
    
    /* grid-template-columns: 5rem 1fr; */
    height: 100vh;

}

.navbar-wrapper
{
    position: fixed;
    background-color: rgb(46,46,72);
    width: 5rem;
    height: 100%;
   transition: width 200ms ease;
    display: flex;
    
} 

.toggle-icon
{
    display: none;
}
.navbar-wrapper:hover{
    width: 12rem;
}

.navbar-wrapper:hover .navbar-item h5{
   display: block;
}

.navbar-wrapper:hover .navbar-item-wrapper{
    width: 11.5rem;
 }
 .navbar-wrapper:hover .navbar-head h4  {
    display: block;
 }

 .navbar-wrapper:hover .toggle-icon {
    display: block;
 }


 



.navbar-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
 

}

.navbar-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    
 
}

.navbar-head img {

    /* display: none; */
    width: 20px;
    padding: 15px;
    
}


.navbar-head h4 {

    display: none;
    color: white;
}

.navbar-body
{
    margin-top: 2rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

}

.navbar-item-wrapper
{
    /* width: 100%; */

}
.navbar-item-container
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 12px;
    align-items: center;
    height: 100%;
}
.navbar-item{
 
    width: 80%;
    /* border-bottom: 1px solid gray; */
    margin-bottom: 5px;
        /* display: flex */
    /* justify-content: center; */
    padding-left: 0.8rem;
}

.navbar-item:hover{
    background-color: #383856;
}

.navbar-link
{

    padding: 20px;
    display: flex;
    align-items: center;

}

.navbar-link img{
    width: 13px;

    
    
}

.navbar-link h5{
   color: white;
   margin-left: 20px;
   width: 20px;
   transition: display 200ms ease;
}



.admin-body-wrapper
{
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
    background-color: rgb(56,56,84);
    margin-left: 5rem;
    height: 100%;
    
} 
.admin-body-container
{
    padding: 5px 20px 5px 20px;
}
.admin-body-navbar
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(46,46,72);
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.admin-body-navbar h3{
    padding: 10px;
    color: white;

    margin-left: 10px;
}


.navbar-item h5{
    display: none;
}