.order-page
{
    background-color: rgb(46,46,72);
    border-radius: 10px;
    height: auto;

   
}

.order-page-title
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
    
}

.title-container{
    color: white;
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
    /* border: 0.7px solid rgb(44, 31, 31);
    border-radius: 10px 0px 10px 0px;
    background-color: #383856; */
}


.order-table-container
{
    display: flex; 
    flex-direction: column;
    gap: 2.5rem;
    width: 95%;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 1.5rem;
}

.order-table
{
    
    width: 100%;
    align-self: center;
    /* text-align: center; */
}

.sort-form-wrapper
{
    /* padding-right: 4.5rem; */
    /* width: 800px; */
}

.sort-form label{
    font-size: small;
}

.sort-form button{
    margin-top: 8px;
    height: 30.5px;
    background-color: rgb(52,75,96);
    color: white;
    border: .6px solid white;
}
.sort-form{
display: flex;
/* justify-content: space-around; */
}
.sort-form-field
{
    padding: 0px 10px;
}



