.product-page
{
    background-color: rgb(46,46,72);
    border-radius: 10px;
    height: 100%;
   
}

.product-page-title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
    
}

.product-page-title h4{
    color: white;
    padding: 10px;
    border: 0.7px solid black;
    border-radius: 10px 0px 10px 0px;
    background-color: #383856;
}

.product-page-title a {
    text-decoration: none;
    color: white;
}

.product-page-title button{
    background-color: rgb(71,91,232);
    padding: 10px;
    border: none;
}
.product-table-container
{
    display: flex; 
    flex-direction: column;
    gap: 2.5rem;
    width: 95%;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 1.5rem;
}

.product-table
{
    
    width: 100%;
    align-self: center;
}


