input{
    border: 1px solid gray;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(46,46,72); 
    height: 30px;
    margin-top: 0.5rem;
}
label
{
    color: white;
    padding-top: 20px;
}
.add-supplier-wrapper
{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    
    
    height: 90%;
    background-color: rgb(46,46,72);
    border-radius: 10px;
}

.add-supplier-container
{
    padding: 2rem 5rem 2rem 5rem;
}



.add-supplier-form .row
{
    display: grid;
   
    gap: 3rem;
    width: 100%;
    margin-bottom: 1rem;
    align-items: center;
}
.add-supplier-form .row.one
{
    grid-template-columns: 40% 1fr;
}

.add-supplier-form .row.two
{
width: 100%;

}

.row.three , .row.four
{
    grid-template-columns: 40% 1fr;
} 
.add-supplier-form
{
    display: flex;
    flex-direction: column;
}

.btn-field
{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.btn-field button{
    padding: 15px 50px 15px 50px;
    
}

/* image-drop-box */
